@model leafletDemo.Models.Estacions
@{
    ViewData["Title"] = "Details";}

<h2>Details</h2>
<div>
    <h4>Estacions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.dateTime)</dt>
        <dd>@Html.DisplayFor(model => model.dateTime)</dd>
        <dt>@Html.DisplayNameFor(model => model.usUnits)</dt>
        <dd>@Html.DisplayFor(model => model.usUnits)</dd>
        <dt>@Html.DisplayNameFor(model => model.arcInt)</dt>
        <dd>@Html.DisplayFor(model => model.arcInt)</dd>
        <dt>@Html.DisplayNameFor(model => model.barometer)</dt>
        <dd>@Html.DisplayFor(model => model.barometer)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dateTime">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>