@model IEnumerable<leafletDemo.Models.Estacions>
@{
    ViewData["Title"] = "Index"; }
<h2>Index</h2>
<p><a asp-action="Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.dateTime) </th>
            <th> @Html.DisplayNameFor(model => model.usUnits) </th>
            <th> @Html.DisplayNameFor(model => model.arcInt) </th>
            <th> @Html.DisplayNameFor(model => model.barometer) </th>
            <th></th>
        </tr>
    </thead>
    <tbody> @foreach (var item in Model)
        { 
            <tr>
                <td> @Html.DisplayFor(modelItem => item.dateTime) </td>
                <td> @Html.DisplayFor(modelItem => item.usUnits) </td>
                <td> @Html.DisplayFor(modelItem => item.arcInt) </td>
                <td> @Html.DisplayFor(modelItem => item.barometer) </td>
                <td> <a asp-action="Edit" asp-route-id="@item.dateTime">Edit</a> | <a asp-action="Details"
                        asp-route-id="@item.dateTime">Details</a> | <a asp-action="Delete" asp-route-id="@item.dateTime">Delete</a>
                </td>
            </tr>
        } </tbody>
</table>